apollo_torch==1.0.3
av==14.1.0
bitsandbytes==0.44.1
datasets==2.20.0
docx==0.2.4
fastapi==0.115.12
fire==0.7.0
flash_attn==2.7.4.post1
galore_torch==1.0
gradio==5.30.0
huggingface_hub==0.25.1
intel_extension_for_transformers==1.4.2
jieba==0.42.1
jupyter_client==8.6.3
langchain_community==0.3.24
librosa==0.10.2.post1
matplotlib==3.10.3
MoD==0.3.0
modelscope==1.24.0
nltk==3.8.1
numpy==2.2.6
openmind==1.0.0
optimum==1.25.3
packaging==25.0
pandas==2.2.3
peft==0.12.0
Pillow==11.2.1
psutil==6.0.0
pydantic==2.11.4
pytest==8.3.5
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.37.0
regex==2024.9.11
Requests==2.32.3
rouge_chinese==1.0.3
ruamel.base==1.0.0
safetensors==0.5.3
setuptools==75.1.0
sse_starlette==2.3.5
streamlit==1.38.0
swanlab==0.5.8
tiktoken==0.7.0
torch==2.1.2
torchvision==0.16.2+cu121
tqdm==4.67.0
transformers==4.46.2
trl==0.9.6
typer==0.15.4
typing_extensions==4.13.2
uvicorn==0.34.2
wandb==0.19.11
zhipuai==2.1.5.20250421
